# Configuración de ZarlippRN
# Desarrollado por PaatoDev

# Puerto del servidor
PORT=3000

# Entorno de ejecución
NODE_ENV=development

# JWT Secret para autenticación
JWT_SECRET=zarlipprn_super_secret_key_2024

# Base de datos PostgreSQL
DB_HOST=dpg-d3rdpg95pdvs73fiskl0-a.oregon-postgres.render.com
DB_PORT=5432
DB_NAME=catrieltx
DB_USER=paatodev
DB_PASSWORD=1LP2UNJouEUZKOWpXbVRQUcSMqH3m6PR

# Mercado Pago
MP_PUBLIC_KEY=APP_USR-03766435-8e82-4920-8514-2a696c52fb57
MP_ACCESS_TOKEN=APP_USR-7672466710082923-102021-004dde191211b870d77e405947cc03c3-1527969500
MP_CLIENT_ID=7672466710082923
MP_CLIENT_SECRET=X3MjrSia1cIlddikQRgWk07dG7WBwXh4

# Google OAuth
GOOGLE_CLIENT_ID=918680994935-onf5obhtfhtt6addjkdl2t2dq4epqcbg.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Configuración de la aplicación
APP_NAME=ZarlippRN
APP_DEVELOPER=PaatoDev
BASE_FARE=4000
COMMISSION=500
DRIVER_EARNINGS=3500
CURRENCY=ARS

# Cuenta administrador
ADMIN_EMAIL=paatodev@dev.com
ADMIN_PASSWORD=ajsdbuahfbasijvnsv
